$montserrat: "Montserrat-Regular";
$museoSansCyrlMedium: "MuseoSansCyrl-Medium";
$museoSansCyrlBold: "MuseoSansCyrl-Bold";

$white: #ffffff;
$black: #333333;
$textColor: #4f4f4f;
$accent: #6248ff;
$btnHover: #7181fc;
$btnActive: #354bf4;
$btnDisabled: #e0e0e0;
